/*code review*/
body
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
header
{
    background-color: #273852;
    margin: -2%;
    display: flex;
    justify-content: center;
}

.title{
  margin-top: auto;
  color: #273852;
  font-size: 21px;
  
}

h6{
  margin-top: -15%; 
  font-size: small; 
  font-weight: 300;
  margin-bottom: 10%;
}

.subtitle{
  font-weight: 200;
  margin-bottom: -5%;
}

.hcontainer
{
    border: 0.2rem solid orangered;
    text-align: center;
    color: #273852;
    background-color: whitesmoke;
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 0% 3% 0% 3%;
}
select{
  padding: 0.5em;
  width: 200%;
  border-color: 1px solid black;
}
.bcontainer
{
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 6%;
}
.sec1
{
display: flex;
flex-direction: row;
justify-content: space-between; 
margin-bottom: 3%;

}

#email
{
  padding: 0.5em;
  border-color: 1px solid black;

}
#Subscribe
{
  background-color: black;
  color: whitesmoke;
  padding: 0.5em;
}
.dropsubs
{
  color:#273852;
  display: flex;
}
.text_container
{
  margin-left: 15%;
  color: #273852;
  font-size: 20px;
  margin-top: 1%;
  color: #273852;
}
.s1container
{
  margin-left: 2%;
}
#Category
{
  background: white;
  border: 1px solid #273852;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 2em;
  margin-left: 2%;
  margin-right: auto;
  border-style: inset;
  border-width: 1.5px;
}

.hr1
{
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2%;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  opacity: 60%;
  width:82%;
}
p{
  width: 82%;
}
.content
{
  margin-left: 2%;
}
.sec2
{
  display: flex;
  margin-left: 2%;
  margin-bottom: 1%;
  
}

.main-button{
  background-color: #d45d47;
  color: whitesmoke;
  padding: 0.5em 1.5em 0.5em 1.5em;
  margin-top: 1.5em;
}

footer
{
    background-color: #273852;
    display: flex;
    color: whitesmoke;
    margin: 0%;
    justify-content: center;
    margin: -2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top:3%;
}




@media only screen 
  and (max-device-width: 500px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .body{
      font-size:12px;
  }
  header
  {
    width: 120%;
    margin: -5%;
  }
  .bcontainer
  {
    margin-right: -2%;
  }
  .sec1
  {
    
    flex-direction: column;
    align-items:stretch;
  }
  .main-content
  {
    display: flex;
    flex-direction: column;
  }
  select
  {
    width: 100%;
    margin-bottom: 5%;
  }
  .text_container
  {
  text-align: center;    
  order: -1;
  }
  hr 
  {
    margin-top: 10%;
    width: 100%;
  }
  .dropsubs
  {
    flex-direction: column;
    margin-bottom: -3%;
  }
  img
  {
    margin-bottom: 2%;
  }
  .title{
    margin-bottom: -3%;
  }
  .content .subtitle
  {
    display: block;
    text-align: center;
    margin-bottom: 4%;
  }
  #email
  {
    width: 95%;
  }
  .Subscribe
  {
    margin-left: 2%;
    margin-bottom: 2%;
  }
  #Subscribe
  {
    width: 100%;
    margin-top: 2%;
  }
  footer
  {
    width: 120%;
  }
  .sec2
  {
    flex-direction: column;
    align-items: center;
  }
  p
  {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: justify;
  }
  .content .title
  {
    display: block;
    text-align: center;
  }
}

@media only screen 
  and (max-device-width: 950px)
  and (min-device-width: 500px) {
    .bcontainer
    {
      margin-right: 0%;
    }
    .sec2
    {
      flex-direction: column;
      align-items: center;
    }
    .dropsubs
    {
      flex-direction: column;
      margin-bottom: -3%;
    }
    .sec1
    {
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }
    .text_container
    {
    text-align: center;    
    order: -1;
    margin-top: -4%;
    margin-left: 2%;
    }
    select
    {
      margin-bottom: 3%;
      width: 100%;
    }
    #email
    {
      width: 97%;
    }
    .Subscribe
    {
      margin-left: 2%;
      margin-bottom: 2%;
    }
    #Subscribe
    {
      margin-top: 2%;
      margin-bottom: -2%;
    }
    .content .title
    {
      display: block;
      text-align: center;
      margin-bottom: -2%;
    }
    img
    {
      margin-bottom: 2%;
    }
    .content .subtitle
    {
      display: block;
      text-align: center;
      margin-bottom: 3%;
    }
    p
    {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: justify;
    }
  }

  @media only screen 
  and (min-device-width: 950px)
  and (max-device-width: 1122px)
  {
      .main-button
      {
        margin-top: 0%;
      }
  }

  @media only screen 
  and (min-device-width: 1369px)
  {
      .main-button
      {
        margin-top: 1.5em;
      }
  }